@import 'base.css';

#app {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  width: 100%;

  @media (max-width: 767px) {
    padding: 1rem;
  }
}

a,
a:visited,
a:active,
a:hover {
  color: #767676;
  text-decoration: none;
}

